@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  font-size: medium;
  background-color: #181a1b;
  color: #e8e6e3;
}

input[type='date'] {
  background-color: #363636;
  color: #e8e6e3;
  border: none;
  font-size: medium;
}

input[type='date']:enabled:hover {
  background-color: #6b6b6b;
}

input[type='date']:disabled {
  background-color: #181a1b;
  border: thin solid #666766;
  color: #666766;
}

input[type='checkbox'] {
  display: flex;
  margin-right: 1vh;
}

select {
  width: 100%;
  display: flex;
  height: 3vh;
  background-color: #363636;
  color: #e8e6e3;
  border: none;
  font-size: medium;
}

select:enabled:hover {
  background-color: #6b6b6b;
}

select:disabled {
  background-color: #181a1b;
  border: thin solid #666766;
  color: #666766;
}

button {
  height: 3vh;
  font-size: medium;
  color: #e8e6e3;
  border: none;
  background-color: #363636;
}

button:enabled:hover {
  background-color: #6b6b6b;
}

button:disabled {
  background-color: #181a1b;
  border: thin solid #666766;
  color: #666766;
}

.flexible {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.wide {
  justify-content: space-between;
}

.big-gap {
  gap: 2vh;
}

.gap {
  gap: 2vh;
}

.small-gap {
  gap: 1vh;
}

.center1 {
  align-items: center;
}

.center2 {
  justify-content: center;
}

.text-center {
  text-align: center;
}

#loading {
  width: 100%;
  height: 100%;
  background-color: #181a1b;
  color: #e8e6e3;
  font-size: xx-large;
  font-weight: bold;
}

#map {
  width: 100%;
  height: 100%;
}

#map canvas {
  cursor: crosshair;
}

#float {
  z-index: 99999;
  position: absolute;
  display: flex;
  margin: 1%;
  flex-direction: column;
}

.float-panel {
  background-color: #181a1b;
  padding: 5%;
  width: 35vh;
}

.title {
  font-size: large;
  font-weight: 700;
}

#modal {
  width: 30vh;
  font-size: large;
  background-color: #181a1b;
  text-align: center;
  border: thin solid #181a1b;
  color: #e8e6e3;
}

#legend {
  margin-top: 1vh;
}
